openapi: 3.0.0
info:
  description: Robinhood API Documentation
  version: 3.0.1
  title: Robinhood API
  contact:
    email: austin.millan@gmail.com
servers:
  - url: http://api.robinhood.com
  - url: https://api.robinhood.com
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
tags:
  - name: accounts
    description: Accounts
  - name: authentication
    description: Authentication
  - name: dividends
    description: Dividends
  - name: fundamentals
    description: Fundamentals
  - name: instruments
    description: Instruments
  - name: markets
    description: Markets
  - name: movers
    description: Movers
  - name: order
    description: Order
  - name: quote
    description: Quote
  - name: user
    description: User
  - name: watchlists
    description: Watchlists
paths:
  "/accounts/":
    get:
      tags:
        - accounts
      summary: getAll
      operationId: getAllUsingGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfAccountInfo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/accounts/{accountId}/portfolio/':
    get:
      tags:
        - accounts
      summary: getPortFolio
      operationId: getPortFolioUsingGET
      parameters:
        - name: accountId
          in: path
          description: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/accounts/{accountId}/positions/':
    get:
      tags:
        - accounts
      summary: getAllPositions
      operationId: getAllPositionsUsingGET
      parameters:
        - name: accountId
          in: path
          description: accountId
          required: true
          schema:
            type: string
        - name: nonzero
          in: query
          description: nonzero
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfPosition'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/accounts/{accountId}/positions/{positionId}/':
    get:
      tags:
        - accounts
      summary: getPosition
      operationId: getPositionUsingGET
      parameters:
        - name: accountId
          in: path
          description: accountId
          required: true
          schema:
            type: string
        - name: positionId
          in: path
          description: positionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api-token-auth/:
    post:
      tags:
        - authentication
      summary: login
      operationId: loginUsingPOST
      parameters:
        - name: mfa_code
          in: header # used to be requestData
          description: mfa_code
          required: false
          schema:
            type: string
        - in: header # used to be formData
          name: password
          description: password
          required: true
          schema:
            type: string
        - in: header # used to be formData
          name: username
          description: username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api-token-logout/:
    post:
      tags:
        - authentication
      summary: logout
      operationId: logoutUsingPOST
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/dividends/{id}/':
    get:
      tags:
        - dividends
      summary: getDividend
      operationId: getDividendUsingGET
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /fundamentals/:
    get:
      tags:
        - fundamentals
      summary: query
      operationId: queryUsingGET
      parameters:
        - name: symbols
          in: query
          description: symbols
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfFundamentalsData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/fundamentals/{symbol}/':
    get:
      tags:
        - fundamentals
      summary: getFundamentals
      operationId: getFundamentalsUsingGET
      parameters:
        - name: symbol
          in: path
          description: symbol
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalsData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /instruments:
    get:
      tags:
        - instruments
      summary: getAll
      operationId: getAllUsingGET_1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfInstrumentData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /instruments/:
    get:
      tags:
        - instruments
      summary: query
      operationId: queryUsingGET_1
      parameters:
        - name: query
          in: query
          description: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfInstrumentData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/instruments/{instrument_id}/':
    get:
      tags:
        - instruments
      summary: get
      operationId: getUsingGET
      parameters:
        - name: instrument_id
          in: path
          description: instrument_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/instruments/{instrument_id}/splits/':
    get:
      tags:
        - instruments
      summary: getSplits
      operationId: getSplitsUsingGET
      parameters:
        - name: instrument_id
          in: path
          description: instrument_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfInstrumentSplit'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /markets:
    get:
      tags:
        - markets
      summary: getAll
      operationId: getAllUsingGET_2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfMarketData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/markets/{mic}/hours/{date}/':
    get:
      tags:
        - markets
      summary: getMArketHours
      operationId: getMArketHoursUsingGET
      parameters:
        - name: date
          in: path
          description: date
          required: true
          schema:
            type: string
        - name: mic
          in: path
          description: mic
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHours'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /midlands/movers/sp500/:
    get:
      tags:
        - movers
      summary: getMovers
      operationId: getMoversUsingGET
      parameters:
        - name: direction
          in: query
          description: direction
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfMovers'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /orders/:
    get:
      tags:
        - order
      summary: getAll
      operationId: getAllUsingGET_3
      parameters:
        - name: cursonr
          in: query
          description: cursonr
          required: false
          schema:
            type: string
        - name: instrument
          in: query
          description: instrument
          required: false
          schema:
            type: string
        - name: updated_at
          in: query
          description: updated_at
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfOrder'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - order
      summary: placeOrder
      operationId: placeOrderUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/orders/{order_id}/':
    get:
      tags:
        - order
      summary: getOrder
      operationId: getOrderUsingGET
      parameters:
        - name: order_id
          in: path
          description: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/orders/{order_id}/cancel/':
    post:
      tags:
        - order
      summary: cancel
      operationId: cancelUsingPOST
      parameters:
        - name: order_id
          in: path
          description: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /quotes/:
    get:
      tags:
        - quote
      summary: getQuotes
      operationId: getQuotesUsingGET
      parameters:
        - name: symbols
          in: query
          description: symbols
          required: false
          schema:
            type: string
            example: 'TSLA,AMD'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfQuoteData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/quotes/{symbol}/':
    get:
      tags:
        - quote
      summary: getQuote
      operationId: getQuoteUsingGET
      parameters:
        - name: symbol
          in: path
          description: symbol
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /user/:
    get:
      tags:
        - user
      summary: getUser
      operationId: getUserUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /user/basic_info/:
    get:
      tags:
        - user
      summary: getBasicInfo
      operationId: getBasicInfoUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicInfo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /user/id/:
    get:
      tags:
        - user
      summary: getUserId
      operationId: getUserIdUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserId'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /user/investment_profile/:
    get:
      tags:
        - user
      summary: getInvestmentProfile
      operationId: getInvestmentProfileUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentProfile'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /watchlists/:
    get:
      tags:
        - watchlists
      summary: getAll
      operationId: getAllUsingGET_4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfWatchListCreateResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - watchlists
      summary: create
      operationId: createUsingPOST
      parameters:
        - name: name
          in: query
          description: name
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchListCreateResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /watchlists/Default/bulk_add/:
    post:
      tags:
        - watchlists
      summary: add
      operationId: addUsingPOST
      parameters:
        - name: symbols
          in: query
          description: symbols
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchListsData'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/watchlists/{name}/':
    get:
      tags:
        - watchlists
      summary: get
      operationId: getUsingGET_1
      parameters:
        - name: name
          in: path
          description: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfWatchListsData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/watchlists/{name}/{instrumentId}':
    delete:
      tags:
        - watchlists
      summary: delete
      operationId: deleteUsingDELETE
      parameters:
        - name: instrumentId
          in: path
          description: instrumentId
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleOfWatchListsData'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
components:
  schemas:
    # Token:
    #   type: apiKey
    #   name: Authorization
    #   in: header
    AccountInfo:
      type: object
      properties:
        account_number:
          type: string
        buying_power:
          type: number
          format: double
        cash:
          type: number
          format: double
        cash_available_for_withdrawal:
          type: number
          format: double
        cash_balances:
          $ref: '#/components/schemas/CashBalances'
        cash_held_for_orders:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        deactivated:
          type: boolean
        deposit_halted:
          type: boolean
        margin_balances:
          $ref: '#/components/schemas/MarginBalances'
        max_ach_early_access_amount:
          type: number
          format: double
        only_position_closing_trades:
          type: boolean
        portfolio:
          type: string
        positions:
          type: string
        sma:
          type: number
          format: double
        sma_held_for_orders:
          type: number
          format: double
        sweep_enabled:
          type: boolean
        type:
          $ref: '#/components/schemas/AccountType'
        uncleared_deposits:
          type: number
          format: double
        unsettled_funds:
          type: number
          format: double
        updated_at:
          type: string
          format: date-time
        url:
          type: string
        user:
          type: string
        withdrawal_halted:
          type: boolean
      title: AccountInfo
    AuthResponse:
      $ref: '#/components/schemas/Auth'
    Auth:
      type: object
      properties:
        mfa_required:
          type: string
        mfa_type:
          type: string
        token:
          type: string
    BasicInfo:
      type: object
      properties:
        address:
          type: string
        citizenship:
          type: string
        city:
          type: string
        country_of_residence:
          type: string
        date_of_birth:
          type: string
        marital_status:
          $ref: '#/components/schemas/MaritalStatus'
        number_dependents:
          type: integer
          format: int32
        phone_number:
          type: string
        state:
          type: string
        tax_id_ssn:
          type: string
        updated_at:
          type: string
          format: date-time
        user:
          type: string
        zipcode:
          type: string
      title: BasicInfo
    CashBalances:
      type: object
      properties:
        buying_power:
          type: number
          format: double
        cash:
          type: number
          format: double
        cash_available_for_withdrawal:
          type: number
          format: double
        cash_held_for_orders:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        uncleared_deposits:
          type: number
          format: double
        unsettled_funds:
          type: number
          format: double
        updated_at:
          type: string
          format: date-time
      title: CashBalances
    Execution:
      type: object
      properties:
        id:
          type: string
        price:
          type: string
        quantity:
          type: string
        settlement_date:
          type: string
          format: date
        timestamp:
          type: string
          format: date-time
      title: Execution
    FundamentalsData:
      type: object
      properties:
        average_volume:
          type: number
          format: double
        description:
          type: string
        dividend_yield:
          type: number
          format: double
        high:
          type: number
          format: double
        high_52_weeks:
          type: number
          format: double
        instrument:
          type: string
        low:
          type: number
          format: double
        low_52_weeks:
          type: number
          format: double
        market_cap:
          type: number
          format: double
        open:
          type: number
          format: double
        pe_ratio:
          type: number
          format: double
        volume:
          type: number
          format: double
      title: FundamentalsData
    InstrumentData:
      type: object
      properties:
        bloomberg_unique:
          type: string
        country:
          type: string
        day_trade_ratio:
          type: number
          format: double
        fundamentals:
          type: string
        id:
          type: string
        list_date:
          type: string
        maintenance_ratio:
          type: number
          format: double
        margin_initial_ratio:
          type: number
          format: double
        market:
          type: string
        min_tick_size:
          type: number
          format: double
        name:
          type: string
        quote:
          type: string
        simple_name:
          type: string
        splits:
          type: string
        state:
          $ref: '#/components/schemas/InstrumentState'
        symbol:
          type: string
        tradability:
          type: string
        tradeable:
          type: string
        type:
          type: string
        url:
          type: string
      title: InstrumentData
    InstrumentSplit:
      type: object
      properties:
        divisor:
          type: string
        execution_date:
          type: string
        instrument:
          type: string
        multiplier:
          type: string
        url:
          type: string
      title: InstrumentSplit
    InvestmentProfile:
      type: object
      properties:
        annual_income:
          type: string
        investment_experience:
          $ref: '#/components/schemas/InvestmentExperience'
        investment_objective:
          $ref: '#/components/schemas/InvestmentObjective'
        liquid_net_worth:
          type: string
        liquidity_needs:
          $ref: '#/components/schemas/LiquidityNeeds'
        risk_tolerance:
          $ref: '#/components/schemas/RiskTolerance'
        source_of_funds:
          $ref: '#/components/schemas/SourceOfFunds'
        suitability_verified:
          type: boolean
        tax_bracket:
          $ref: '#/components/schemas/TaxBracket'
        time_horizon:
          $ref: '#/components/schemas/TimeHorizon'
        total_net_worth:
          $ref: '#/components/schemas/TotalNetWorth'
        updated_at:
          type: string
          format: date-time
        user:
          type: string
      title: InvestmentProfile
    MarginBalances:
      type: object
      properties:
        cash:
          type: number
          format: double
        cash_available_for_withdrawal:
          type: number
          format: double
        cash_held_for_orders:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        day_trade_buying_power:
          type: number
          format: double
        day_trade_buying_power_held_for_orders:
          type: number
          format: double
        day_trade_ratio:
          type: number
          format: double
        margin_limit:
          type: number
          format: double
        marked_pattern_day_trader_date:
          type: string
          format: date-time
        overnight_buying_power:
          type: number
          format: double
        overnight_buying_power_held_for_orders:
          type: number
          format: double
        overnight_ratio:
          type: number
          format: double
        unallocated_margin_cash:
          type: number
          format: double
        uncleared_deposits:
          type: number
          format: double
        unsettled_funds:
          type: number
          format: double
        updated_at:
          type: string
          format: date-time
      title: MarginBalances
    MarketData:
      type: object
      properties:
        acronym:
          type: string
        city:
          type: string
        country:
          type: string
        mic:
          type: string
        name:
          type: string
        operating_mic:
          type: string
        timezone:
          type: string
        todays_hours:
          type: string
        url:
          type: string
        website:
          type: string
      title: MarketData
    MarketHours:
      type: object
      properties:
        closes_at:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
        extended_closes_at:
          type: string
          format: date-time
        extended_opens_at:
          type: string
          format: date-time
        is_open:
          type: boolean
        next_open_hours:
          type: string
        opens_at:
          type: string
          format: date-time
        previous_open_hours:
          type: string
      title: MarketHours
    Movers:
      type: object
      title: Movers
    MultipleOfAccountInfo:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/AccountInfo'
      title: MultipleOfAccountInfo
    MultipleOfFundamentalsData:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/FundamentalsData'
      title: MultipleOfFundamentalsData
    MultipleOfInstrumentData:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentData'
      title: MultipleOfInstrumentData
    MultipleOfInstrumentSplit:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentSplit'
      title: MultipleOfInstrumentSplit
    MultipleOfMarketData:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/MarketData'
      title: MultipleOfMarketData
    MultipleOfMovers:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Movers'
      title: MultipleOfMovers
    MultipleOfOrder:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Order'
    MultipleOfPosition:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Position'
      title: MultipleOfPosition
    MultipleOfQuoteData:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/QuoteData'
      title: MultipleOfQuoteData
    MultipleOfWatchListCreateResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/WatchListCreateResponse'
      title: MultipleOfWatchListCreateResponse
    MultipleOfWatchListsData:
      type: object
      properties:
        count:
          type: integer
          format: int32
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/WatchListsData'
      title: MultipleOfWatchListsData
    Order:
      type: object      
      properties:
        account:
          type: string
        action:
          $ref: '#/components/schemas/OrderAction'
        average_price:
          type: string
        cancel:
          type: string
        client_id:
          type: string
        created_at:
          type: string
          format: date-time
        cumulative_quantity:
          type: string
        executions:
          type: array
          items:
            $ref: '#/components/schemas/Execution'
        extended_hours:
          type: boolean
        fees:
          type: string
        id:
          type: string
        instrument:
          type: string
        last_transaction_at:
          type: string
          format: date-time
        override_day_trade_checks:
          type: boolean
        override_dtbp_checks:
          type: boolean
        position:
          type: string
        price:
          type: string
        quantity:
          type: string
        reject_reason:
          type: string
        side:
          type: string
        state:
          $ref: '#/components/schemas/OrderState'
        stop_price:
          type: string
        symbol:
          type: string
        time_in_force:
          $ref: '#/components/schemas/TimeInForce'
        trigger:
          type: string
        type:
          $ref: '#/components/schemas/ExecutionType'
        updated_at:
          type: string
          format: date-time
        url:
          type: string
        last_trail_price:
          type: string
        last_trail_price_updated_at:
          type: string
        stop_triggered_at:
          type: string
      title: Order
    OrderResponse:
      $ref: '#/components/schemas/Order'
    Portfolio:
      type: object
      properties:
        account:
          type: string
        adjusted_equity_previous_close:
          type: number
          format: double
        equity:
          type: number
          format: double
        equity_previous_close:
          type: number
          format: double
        excess_maintenance:
          type: number
          format: double
        excess_maintenance_with_uncleared_deposits:
          type: number
          format: double
        excess_margin:
          type: number
          format: double
        excess_margin_with_uncleared_deposits:
          type: number
          format: double
        extended_hours_equity:
          type: number
          format: double
        extended_hours_market_value:
          type: number
          format: double
        last_core_equity:
          type: number
          format: double
        last_core_market_value:
          type: number
          format: double
        market_value:
          type: number
          format: double
        start_date:
          type: string
        unwithdrawable_deposits:
          type: number
          format: double
        unwithdrawable_grants:
          type: number
          format: double
        url:
          type: string
        withdrawable_amount:
          type: number
          format: double
      title: Portfolio
    Position:
      type: object
      properties:
        account:
          type: string
        average_buy_price:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        instrument:
          type: string
        intraday_average_buy_price:
          type: number
          format: double
        intraday_quantity:
          type: number
          format: double
        quantity:
          type: number
          format: double
        shares_held_for_buys:
          type: number
          format: double
        shares_held_for_sells:
          type: number
          format: double
        shares_held_for_stock_grants:
          type: number
          format: double
        updated_at:
          type: string
          format: date-time
        url:
          type: string
      title: Position
    QuoteData:
      type: object
      properties:
        adjusted_previous_close:
          type: string
        ask_price:
          type: string
        ask_size:
          type: integer
          format: int32
        bid_price:
          type: number
          format: double
        bid_size:
          type: integer
          format: int32
        last_extended_hours_trade_price:
          type: string
        last_trade_price:
          type: string
        previous_close:
          type: string
        previous_close_date:
          type: string
          format: date
        symbol:
          type: string
        trading_halted:
          type: boolean
        updated_at:
          type: string
          format: date-time
      title: QuoteData
    UserId:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        username:
          type: string
      title: UserId
    UserInfo:
      type: object
      properties:
        additional_info:
          type: string
        basic_info:
          type: string
        email:
          type: string
        employment:
          type: string
        first_name:
          type: string
        id:
          type: string
        id_info:
          type: string
        international_info:
          type: string
        investment_profile:
          type: string
        last_name:
          type: string
        url:
          type: string
        username:
          type: string
      title: UserInfo
    WatchListCreateResponse:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        user:
          type: string
      title: WatchListCreateResponse
    WatchListsData:
      type: object
      properties:
        created_at:
          type: string
        instrument:
          type: string
        url:
          type: string
        watchlist:
          type: string
      title: WatchListsData
    OrderState:
      type: string
      enum:
        - queued
        - unconfirmed
        - confirmed
        - partially_filled
        - filled
        - rejected
        - canceled
        - failed
    InstrumentState:
      type: string
      enum:
        - active
        - inactive
    AccountType:
      title: type
      type: string
      enum:
        - cash
        - margin
    MaritalStatus:
      type: string
      enum:
        - single
        - married
    InvestmentExperience:
      type: string
      enum:
        - extensive_investment_exp
        - good_investment_exp
        - limited_investment_exp
        - no_investment_exp
    InvestmentObjective:
      type: string
      enum:
        - cap_preserve_invest_obj
        - income_invest_obj
        - growth_invest_obj
        - speculation_invest_obj
        - other_invest_obj
    LiquidityNeeds:
      type: string
      enum:
        - not_important_liq_need
        - somewhat_important_liq_need
        - very_important_liq_need
    RiskTolerance:
      type: string
      enum:
        - low_risk_tolerance
        - med_risk_tolerance
        - high_risk_tolerance
    SourceOfFunds:
      type: string
      enum:
        - savings_personal_income
        - pension_retirement
        - insurance_payout
        - inheritance
        - gift
        - sale_business_or_property
        - other
    TaxBracket:
      type: string
      enum:
        - 0_pct
        - 20_pct
        - 25_pct
        - 28_pct
        - 33_pct
        - 35_pct
        - 39_6_pct
    TimeHorizon:
      type: string
      enum:
        - short_time_horizon
        - med_time_horizon
        - long_time_horizon
    TotalNetWorth:
      type: string
      enum:
        - "0_24999"
        - "25000_49999"
        - "50000_64999"
        - "65000_99999"
        - "100000_149999"
        - "150000_199999"
        - "250000_499999"
        - "500000_999999"
        - "1000000_inf"
    ExecutionType:
      type: string
      enum:
        - market
        - limit
    Trigger:
      type: string
      enum:
        - immediate
        - stop
    TimeInForce:
        type: string
        enum:
          - gfd
          - gtc
          - ioc
          - opg
    OrderAction:
        type: string
        enum:
          - order
          - status
          - cancel
          - history